<div class="row"><footer class="footer" *ngIf="usuario">
    <div class="footer-content">
      <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
      <h5>{{usuario.titulo}}</h5>
    </div>
    <div class="social-network">   
      <a href="https://www.instagram.com/oviedoluchi/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
     <a href="https://twitter.com/Luchioviedo1" target="_blank"><i class="fa-brands fa-twitter"></i></a> 
     <a href="https://www.linkedin.com/in/luciano-oviedo-97bb75236/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
   
  
    </div>
  </footer>
</div>