<div class="row "><footer class="footer wow animate__animated animate__bounceInUp" *ngIf="usuario">
    <div class="footer-content">
      <h2 style="font-family: 'Montserrat Alternates', sans-serif;">{{usuario.nombre}} {{usuario.apellido}}</h2>
      <h5 style="font-family: 'Montserrat', sans-serif;">{{usuario.titulo}}</h5>
    </div>
    <div class="social-network">   
      <a href="https://www.instagram.com/oviedoluchi/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
     <a href="https://twitter.com/Luchioviedo1" target="_blank"><i class="fa-brands fa-twitter"></i></a> 
     <a href="https://www.linkedin.com/in/luciano-oviedo-97bb75236/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
   
  
    </div>
  </footer>
</div>