.row{
background-color: #001219;
color: #fff;
padding:20px;
}
.skills{
   cursor: pointer;
        position: relative;
        transition: all 300ms;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
    }
    .skills:hover{
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
}

.titulo{
    text-align: center;
    margin: 20px;
}

.boton{
   text-align: center;
   margin: 20px;
}

.edicion{
    
    margin-right: 10px;
}

.circulos{
    margin-top: 100px;
}

h5 .modal-title{
    color:#001219;
}


