
  <div class="container-fluid">
        
<div class="logo">
    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img id="logo" src="../../../assets/APLogo-20-20.png" alt="argentina-programa">  </a>
</div>
    <div class="redes">
     
            <a href="https://www.instagram.com/oviedoluchi/?hl=es" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/luciano-oviedo-97bb75236/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/Luchioviedo1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/OviedoLuciano" target="_blank"><i class="fa-brands fa-github"></i></a>
    
       <a ><button type="button" class="btn btn-danger" (click)="onClick()">Cerrar Sesión</button></a>

    </div>
  
    </div>




